# Python
venv/
__pycache__/
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Node
node_modules/
build/
dist/

# React
.env
.env.local

# Python env
.venv/
.env.*
/expdate-backend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
